.text {
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  display: inline-block;
  cursor: pointer;
  color: black;
}
.edit.input {
  width: 8em;
}
.hidden {
  display:none;
}