/* You can add global styles to this file, and also import other style files */
body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
}
.hljs {
  overflow: visible !important;
  min-height: 50em;
}
.jcomment {
  position: relative;
  height: 32px;
  display: inline;
  background-color: #87CEEB;
  margin-left: 1px;
  margin-right: 1px;
}
.jmessage {
  position: absolute;
  display:none;
}
.jmessage span {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
  color: black !important;
}
.jmessage a {
  text-decoration: none !important;
}
.jmessage.show {
  display: block;
  border: 1px solid #d4d4d5;
  max-width: 250px;
  background: #fff;
  padding: .833em 1em;
  border-radius: .28571429rem;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  z-index: 999;
}

.jmessage.show:before {
  top: -.30714286em;
  left: 1em;
  right: auto;
  bottom: auto;
  margin-left: 0;
  box-shadow: -1px -1px 0 0 #bababc;
  z-index: 2;
}
.jmessage.show:before {
  position: absolute;
  content: '';
  width: .71428571em;
  height: .71428571em;
  background: #fff;
  transform: rotate(45deg);
  z-index: 2;
}