<div class="ui announcements container">
  <h1 class="ui dividing header">
    Announcements
  </h1>
  <div class="ui large divided list">
    <div class="item">
      <div class="image">
        <img src="https://prod.cloud.rockstargames.com/crews/sc/3518/28159349/publish/emblem/emblem_128.png">
      </div>
      <div class="content">
        <div class="header">More Weeb Stuff!</div>
        <div class="meta">
          <div>From: Kevin</div>
        </div>
        <div class="description">
          <p>This will be the first release of the application!</p>
        </div>
        <div class="bottom extra">
          1 Hours Ago
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://prod.cloud.rockstargames.com/crews/sc/3518/28159349/publish/emblem/emblem_128.png">
      </div>
      <div class="content">
        <div class="header">Weeb Stuff</div>
        <div class="meta">
          <div>From: Kevin</div>
        </div>
        <div class="description">
          <p>This will be the first release of the application!</p>
        </div>
        <div class="extra">
          2 Hours Ago
        </div>
      </div>
    </div>
  </div>
</div>