<div class="ui announcements container">
  <h1 class="ui dividing header">
    Announcements
  </h1>
  <div class="ui large divided list">
    <div class="item">
      <div class="ui stackable grid">
        <div class="four wide column image">
          <img src="https://prod.cloud.rockstargames.com/crews/sc/3518/28159349/publish/emblem/emblem_128.png">
        </div>
        <div class="twelve wide column content">
          <div class="header">Welcome to the third beta test!</div>
          <div class="meta">
            <div>From: Code Reviewer Dev Team</div>
          </div>
          <div class="description">
            <p>
              Hi everyone, <br>
              For any bugs you encounter while using this webapp,
              please send an email to code.reviewer.utsc@gmail.com.
              We will get back to you as soon as possible. <br>
              Good luck on your finals and happy reviewing!
            </p>
          </div>
          <!-- <div class="bottom extra">
            A few Hours Ago
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
