
<div class="ui tas container">
  <table class="ui table">
    <thead>
      <th>Contract Number</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UtorID</th>
      <th>Email</th>
      <th>Last Login</th>
    </thead>
    <tbody>
      <tr *ngFor="let ta of tas">
        <td>{{ta.contract_number}}</td>
        <td>
          <m-editable
            [value]="ta.first_name"
            [onChange]="updateTa(ta, 'first_name')">
          </m-editable>
        </td>
        <td>
          <m-editable
            [value]="ta.last_name"
            [onChange]="updateTa(ta, 'last_name')">
          </m-editable>
        </td>
        <td>{{ta.utorid}}</td>
        <td>{{ta.email}}</td>
        <td>{{ta.last_login}}</td>
        <td>{{ta.user_id}}</td>
      </tr>
    </tbody>
  </table>
  
</div>
