.mheader.menu {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  div#logo {
    margin: auto !important;
  }

  a#nav-btn {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  a#nav-btn {
    display: flex !important;
  }

  #hamburger-menu {
    display: none !important;
  }
}

#hamburger-menu {
  position: absolute;
  background-position: 0px 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 68.4062px;
  left: 0px;
  right: 0px;
  text-decoration: none solid rgba(255, 255, 255, 0.9);
  text-size-adjust: 100%;
  top: 0px;
  vertical-align: middle;
  width: 198.203px;
  column-rule-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  perspective-origin: 99.0938px 34.2031px;
  transform-origin: 99.0938px 34.2031px;
  user-select: none;
  caret-color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
  border: 0px none rgba(255, 255, 255, 0.9);
  flex: 0 0 auto;
  font: normal normal bold normal 18px / 18px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  outline: rgba(255, 255, 255, 0.9) none 0px;
  padding: 16.7143px 20.5714px;
  transition: background 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s;
  cursor: pointer;
}
