<div class="ui assignments container">
  <table class="ui table">
    <thead>
      <th>Assignment</th>
      <th># of Peers</th>
      <th>Feedback Questions</th>
      <th>Required Files</th>
      <th>Manage</th>
    </thead>
    <tbody>
      <tr *ngFor="let assignment of assignments">
        <td>
          <m-editable
            [value]="assignment.name"
            [onChange]="updateAssignment(assignment,'name')">
          </m-editable>
          {{assignment.status}}
        </td>
        <td>
          <m-editable
            [value]="assignment.num_peers"
            [onChange]="updateAssignment(assignment, 'num_peers')">
          </m-editable>
        </td>
        <td>
          <div class="ui list" *ngFor="let feedback of assignment.feedback_questions; let i = index ">
            <a class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                {{feedbackQuestions[feedback]}}
              </div>
            </a>
          </div>
        </td>

        <td>
          <div class="ui list">
            <div class="item">
              <i class="folder open icon"></i>
              <div class="content">
                <div class="header">
                  <m-editable
                    [value]="assignment.repo_path"
                    [onChange]="updateAssignment(assignment,'repo_path')">
                  </m-editable>
                </div>
                <!-- <div class="description">Source files for project</div> -->
                <div class="list">
                  <div class="item">
                    <i class="folder icon"></i>
                    <div class="content">
                      <div class="header">
                        <m-editable
                          [value]="assignment.folder_name"
                          [onChange]="updateAssignment(assignment,'folder_name')">
                        </m-editable>
                      </div>
                      <div class="list" *ngFor="let file of assignment.required_files">
                        <div class="item">
                          <i class="file icon"></i>
                          <div class="content">
                            <div class="header">{{file}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>

        <td>
        <div class="container-flex-space-between">
          <m-checkbox data-tooltip="Peer Review" data-position="top left"
            [value]="assignment.peer_review"
            (click)="release(assignment,'peer_review')">
          </m-checkbox>

          <m-checkbox data-tooltip="Self Review" data-position="top center"
            [value]="assignment.self_review"
            (click)="release(assignment,'self_review')">
          </m-checkbox>
          <m-checkbox data-tooltip="Marks" data-position="top right"
            [value]="assignment.mark_review"
            (click)="release(assignment,'mark_review')">
          </m-checkbox>
        </div>
          <div class="container-flex-space-between">
            <div></div>

            <div class="ui blue comment button" (click)="showManagement(assignment)">
              <i class="comment icon"></i>
              Manage
            </div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

    <div class="ui left pointing label">
      example
    </div>
  <!-- example dropdown for vc -->

  <m-modal #management [class]="'small'">
    <i class="close icon"></i>
    <div class="header">
      Manage Assignment
    </div>

    <div class="content" >
      <div class="ui animated fade basic button" (click)="loadSubmissions()">
        <div class="visible content">Load Works and Files</div>
        <div class="hidden content">$12.99 a month</div>
      </div>
    </div>
    <div class="content">
      <div class="ui animated fade basic button">
        <div class="visible content">Distribute</div>
        <div class="hidden content">$12.99 a month</div>
      </div>
    </div>
    <div class="content">
      <div class="ui animated fade basic button">
        <div class="visible content">Sign-up for a Pro account</div>
        <div class="hidden content">$12.99 a month</div>
      </div>
    </div>
  </m-modal>

