  <div>
      <ngx-datatable
        #myTable
        class="ui selectable inverted table" 
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarV]="50"
        [rows]='data'
        (page)="onPage($event)">

        <!-- Expanded Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div style="padding-left:35px;">
              <div><strong>Work Information</strong></div>
              <div>{{row.address.city}}, {{row.address.state}}</div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
         <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <i class="glyphicon"
              href="#"
              [class.glyphicon-chevron-right]="fold"
              [class.glyphicon-chevron-down]="!fold"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)">
            </i>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Index" width="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{row.$$index}}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" width="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{rows.name}}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="UtorID" width="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <strong>{{rows.name}}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email" width="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>