<!-- This will be made into ramdom programming tips. For now it's hard-coded. -->
<div class="alert alert-warning">
  <h3>ProTip: In-place swapping of two numbers.</h3>
  <p>Python provides an intuitive way to do assignments and swapping in one line. Please refer the below example.</p>
  <div class="code-block">
    <br>
<code id="code">x = 10
y = 20
print(x, y)  # 10 20
x, y = y, x
print(x, y)  # 20 10
</code>
    <br>
  </div>
  <p>The assignment on the right seeds a new tuple. While the left one instantly unpacks that tuple to the names &lt;a&gt; and &lt;b&gt;.</p>
</div>
