<div class="feedback wrapper">
  <div class="ui header">Feedbacks</div>
  <div class="ui top attached tabular menu">
    <a class="item"
      *ngFor="let file of submission.files; let i=index"
      (click)="selectFile(i)"
      [class.active]="selectedFile==i">
      <i class="file icon"></i>
      {{file.name}}
    </a>
  </div>
  <div class="ui bottom attached segment">
    <m-code #codeblock
      *ngIf="selectedFile >= 0"
      [code]="submission.files[selectedFile].code"
      [(annotations)]="annotations"
      (newAnnotation)="newAnnotation($event)"
      >
    </m-code>

  <div class="ui hidden divider"></div>
  <div *ngIf="selectedFeedback === 99">
    <div *ngFor="let feedback_question of feedbackQuestions; let i=index" >
      <h3 class="ui header">{{feedback_question}}</h3>
      <m-accordion [class]="'styled fluid'">
        <div *ngFor="let feedback of feedbacks">
          <div class="title" *ngIf="feedback.feedbacks[i]">
            <i class="dropdown icon"></i>
            {{feedback.feedbacks[i].substring(0, 20) + " ....."}}
          </div>
          <div class="title" *ngIf="!feedback.feedbacks[i]">
            <i class="dropdown icon"></i>
            {{" ....."}}
          </div>
          <div class="content">
            <p style="white-space: pre-wrap;">{{feedback.feedbacks[i]}}</p>
          </div>
        </div>
      </m-accordion>
      <div class="ui hidden divider"></div>
    </div>
  </div>

  <div *ngIf="selectedFeedback !== 99">
    <div *ngFor="let feedback_question of feedbackQuestions; let i=index" >
      <h3 class="ui header">{{feedback_question}}</h3>
      <!-- <textarea rows="2" >{{feedbacks[selectedFeedback].feedbacks[i]}}</textarea> -->
      <m-accordion [class]="'styled fluid'">
<!--         <div class="active title">
          <i class="dropdown icon"></i>
          {{feedbacks[selectedFeedback].feedbacks[i].substring(0, 20) + " ....."}}
        </div> -->

        <div class="active content">
          <p style="white-space: pre-wrap;">{{feedbacks[selectedFeedback].feedbacks[i]}}</p>
        </div>
      </m-accordion>
      <div class="ui hidden divider"></div>
    </div>
  </div>



  </div>
</div>
