<div class="review wrapper">
  <div class="ui dividing header">Review</div>
  <div class="ui top attached tabular menu">
    <a class="item"
      *ngFor="let file of submission.files; let i=index"
      (click)="selectFile(i)"
      [class.active]="selectedFile==i">
      <i class="file icon"></i>
      {{file.name}}
    </a>
    <div class="right secondary menu">
      <div class="item">
        <div class="ui tiny basic comment button" (click)="codeblock.addAnnotation()">
          <i class="comment icon"></i>
          Annotate
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <m-code #codeblock
      *ngIf="selectedFile >= 0"
      [code]="submission.files[selectedFile].code"
      [(annotations)]="annotations"
      (newAnnotation)="newAnnotation($event)"
      >
    </m-code>
  </div>
</div>