<div class="review wrapper">
  <div class="ui dividing header">Review</div>
  <div class="ui top attached tabular menu">
    <a class="item"
      *ngFor="let file of submission.files; let i=index"
      (click)="selectFile(i)"
      [class.active]="selectedFile==i">
      <i class="file icon"></i>
      {{file.name}}
    </a>
    <div class="right secondary menu">
      <div class="item">
        <div class="ui tiny green comment button" (click)="showAnnotations()">
          <i class="comment icon"></i>
          View Annotations
        </div>
      </div>
      <div class="item">
        <div class="ui tiny basic comment button" (click)="codeblock.addAnnotation()">
          <i class="comment icon"></i>
          Annotate
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <m-code #codeblock
      *ngIf="selectedFile >= 0"
      [code]="submission.files[selectedFile].code"
      [(annotations)]="annotations"
      (newAnnotation)="newAnnotation($event)"
      >
    </m-code>

    <div class="ui form">
      <div *ngFor="let feedback_question of feedbackQuestions; let i=index" >

        <div class="ui hidden divider"></div>
    
        <div class="field">
          <h3 class="ui header">{{feedback_question}}</h3>
          <textarea rows="2" on-focusout="updateFeedbacks()" [(ngModel)]="feedbacks[i]" ></textarea>
        </div>

      </div>

<!--       <div class="field">
        <div class="ui hidden divider"></div>
        <button class="ui primary button">
          <i class="icon save"></i>
          Save
        </button>
        </div>
    </div> -->
  </div>

  <m-modal #annotationList [class]="'small'">
    <i class="close icon"></i>
    <div class="header">
      Annotations
    </div>
    <div class="content">
      <div class="ui middle aligned divided list">
        <div 
          class="item" 
          *ngFor="let annotation of annotations">

          <div class="right floated content">
            <i class="close icon" style="cursor: pointer;" (click)="removeAnnotation(annotation)"></i>
          </div>
          <i class="help icon"></i>
          <div class="content">
            <div class="description">{{annotation.annotation}}</div>
          </div>
        </div>
      </div>
    </div>
  </m-modal>
</div>