<m-header></m-header>
<!-- if assignment does not exist -->
<m-notfound-item *ngIf="!exists" [name]="'assignment'"></m-notfound-item>
<!-- if assignment exists -->
<div class="ui doubling stackable grid submissions container" *ngIf="exists">
  <div class="four wide column">
    <div class="ui segment">
      <h2 class="ui dividing header">
        Assignment 1
      </h2>
      <table class="ui very basic single lined table"><tbody>
          <tr><td>Deadline:</td><td>N/A</td></tr>
      </tbody></table>
      <h4 class="ui dividing header">Files</h4>
      <div class="ui list">
        <a class="item"
          *ngFor="let file of work.required_files">
          <i class="file icon"></i>
          <div class="content">
            <div class="description">{{file}}</div>
          </div>
        </a>
      </div>
    </div>
    <div class="ui vertical borderless fluid menu">
      <div class="item">
        <div class="ui dividing header">Feedbacks</div>
      </div>
      <div class="ui vertical secondary fluid pointing menu">
        <a class="item"
          [class.active]="selectedFeedback==i"
          [class.blue]="selectedFeedback==i"
          (click)="selectedReview=-1;selectedFeedback=i"
          *ngFor="let feedback of feedbacks; let i = index;">
          <span>
            <i class="user icon"
              [class.blue]="i==0"
              [class.red]="i==1"
              [class.purple]="i==2"
              [class.green]="i==3">
            </i>
            Feedback {{i + 1}}
          </span>
        </a>
      </div>
      <div class="item">
        <div class="ui dividing header">Reviews</div>
      </div>
      <div class="ui vertical secondary fluid pointing menu">
        <a class="item"
          [class.active]="selectedReview==i"
          [class.blue]="selectedReview==i"
          (click)="selectedReview=i"
          *ngFor="let review of reviews; let i = index;">
          <span>
            <i class="user icon"
              [class.blue]="i==0"
              [class.red]="i==1"
              [class.purple]="i==2"
              [class.green]="i==3">
            </i>
            Review {{i + 1}}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <m-feedback 
      *ngIf="selectedFeedback >= 0"
      [feedback]="feedbacks[selectedFeedback]"
      >
    </m-feedback>
    <m-review 
      *ngIf="selectedReview >= 0"
      [review]="reviews[selectedReview]"
      >
    </m-review>
  </div>
</div>  
<m-footer></m-footer>