<m-header></m-header>
<!-- if assignment does not exist -->
<m-notfound-item *ngIf="!exists" [name]="'assignment'"></m-notfound-item>
<!-- if assignment exists -->
<div class="ui doubling stackable grid submissions container" *ngIf="exists">
  <div class="four wide column">
    <div class="ui segment">
      <h2 class="ui dividing header">
        Assignment 1
      </h2>
      <table class="ui very basic single lined table"><tbody>
          <tr><td>Deadline:</td><td>N/A</td></tr>
      </tbody></table>
      <h4 class="ui dividing header">Files</h4>
      <div class="ui list">
        <a class="item"
          *ngFor="let file of assignment.required_files; let i=index;"
          (click)="selectFile(file, i)"
          [class.selectedFile]="file.selected">
          <i class="yellow help icon" *ngIf="!file.has_uploaded"></i>
          <i class="green file icon" *ngIf="file.has_uploaded"></i>
          <div class="content">
            <div class="description">{{file.name}}</div>
          </div>
        </a>
      </div>
    </div>
    <div class="ui vertical fluid menu">
      <div class="ui secondary vertical pointing fluid menu">
        <a class="item"
          [class.active]="selected=='review'"
          [class.blue]="selected=='review'">
          Review
        </a>
        <a class="item"
          [class.active]="selected=='feedback'"
          [class.blue]="selected=='feedback'">
          Feedbacks
        </a>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <m-review 
      *ngIf="selectedFile !== undefined"
      [selectedFile]="selectedFile"
      [submission]="submission"
      [type]="selected">
    </m-review>
  </div>
</div>
<m-footer></m-footer>