.jcomment {
    position: relative;
    height: 32px;
    padding: 8px 12px 8px 8px;
    display: inline-block;
}

.jmessage.show {
  padding: 5px;
  visibility: visible;
  opacity: 1;
}

.jmessage {
    position: absolute;
    margin: 10px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    transition: 0.2s ease-out;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 10px 38px 3px rgba(0,0,0,.14);
}

.jcontent {
    margin: 1em;
}