<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/agate.min.css">
<div id="edit-code">
  <div class="toolbar">
    <md-list>
      <h2 md-subheader>
        {{file_name}}
      </h2>
      <md-divider></md-divider>
    </md-list>
  </div>
  <div class="code-block"><code [innerHTML]="displayCode" class="python" id="code"></code></div>
  <button class="comment-btn" md-button (click)="addComments()">
    <md-icon>comment</md-icon>
    <u>C</u>omment
  </button>
</div>
<div id="review-instructions" onclick="$('#review-instructions').hide();">
  <div class="overlay"></div>
  <div class="dismiss-btn">
    <a class="center" href="#">
      <img src="/assets/instructions/dismiss.png">
    </a>
  </div>
  <img id="instruction-highlight" src="/assets/instructions/highlight.png">
  <img id="instruction-add-comment" src="/assets/instructions/add-comment.png">
</div>
