<div class="ui two column centered grid container">
  <div class="column">
    <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="http://i.imgur.com/r3Zf4VI.jpg">
        </div>
        <div class="content">
          <a class="header">You are not logged in.</a>
          <div class="description">
            <a href="http://localhost:3000/api" target="_blank">Please log in here.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>s