<div class="ui two column centered grid container">
  <div class="column">
    <!-- login form -->
    <form class="ui large form" [formGroup]="myForm" (ngSubmit)="login()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input 
              formControlName="email"
              type="email" name="email" placeholder="your utormail">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon">
            </i>
            <input 
              formControlName="password"
              type="password" name="password" placeholder="password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">
          Login
        </button>
      </div>
    </form>
  </div>
</div>